{% extends "header.html" %}


{% block body %}
                <!-- Page content-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{{ url_for('user_management') }}">User Management</a></li>
                      <li class="breadcrumb-item active" aria-current="page">All Mosaic Users</li>
                    </ol>
                  </nav>
                <br>
                <div class="container-fluid">
                    <h1 class="mt-4">All Mosaic Users</h1>
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Username</th>
                          <th scope="col">Last Login</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Carson</td>
                          <td>mcarson-cx</td>
                          <td>12-21-21</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Adam</td>
                          <td>Hoover</td>
                          <td>ashoover-cx</td>                          
                          <td>12-20-21</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Veeresh</td>
                          <td>K</td>
                          <td>veeresh-cx</td>                          
                          <td>12-18-21</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
{% endblock %} 