{% extends "header.html" %}


{% block body %}
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">System Status</h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">CX Mosaic GitHub</li>
                        <li class="list-group-item">CX System Team Confluence Page</li>
                        <li class="list-group-item">CX Nipap</li>
                        <li class="list-group-item">CX System Team Argos</li>
                      </ul>
                </div>
{% endblock %}